@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "C-Book";
    src: url("./assets/fonts/C-Standard-Book.woff2") format("woff2");
  }

  @font-face {
    font-family: "M-Bold";
    src: url("./assets/fonts/M-Bold-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "M-Light";
    src: url("./assets/fonts/M-Light-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Darts";
    src: url("./assets/fonts/Darts.woff2") format("woff2");
  }
}
